{{!-- <div class="center">
    <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
    <label for="file" style="cursor: pointer;">Upload Pet Image</label>
    <img id="output" width="200" />
</div> --}}

      <div class="img-preview-container center">
            <lr-upload-ctx-provider
                  ctx-name="my-uploader"
                  id="my-uploader-provider"
            ></lr-upload-ctx-provider>
      </div>

            <div class="center" id="previews">
                  <img src="{{images}}">
            </div>

    <lr-config
      ctx-name="my-uploader"
      pubkey="{{pubkey}}"
    ></lr-config>

    <lr-file-uploader-regular
      ctx-name="my-uploader"
    ></lr-file-uploader-regular>


<div class="card" id="pet-table-partial" type="text/x-handlebars-template">
  <table class="table">
    <thead >
      <tr class = "tbord">
        <th>Name</th>
        <td>{{name}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{type}}</td>
      </tr>
      <tr class = "tbord2">
      <th>Breed</th>
      <td>{{breed}}</td>
      </tr>
<tr >
      <th>Birthdate</th>
      <td>{{format_date birthdate}}</td>
      </tr>
<tr class = "tbord2">
      <th>Weight</th>
      <td>{{weight}}</td>
</tr >

<tr >
      <th>Gender</th>
      <td>{{gender}}</td>
</tr>
<tr class = "tbord2">
      <th>Altered</th>
      <td>{{#if altered}}Yes{{else}}No{{/if}}</td>
</tr>
<tr >
      <th>Microchip</th>
      <td>{{microchip}}</td>
</tr>
<tr class = "tbord2">
      <th>Vaccinations</th>
      <td>{{vaccinations}}</td>
</tr>
<tr >
      <th>Allergies</th>
      <td>{{allergies}}</td>
</tr>

      
    </thead>
    
    </tbody>
  </table>
</div>



<script src="/js/upload.js"></script>